.img-div{
    cursor: pointer;
    width: 95%;
    height: 12rem;
    margin: 2%;
    padding: 2%
}

.img {
    height: 100%;
    width: 100%;
    transform: scale(1, 1);
    transition: all 0.1s ease 0s;
}

.img:hover {
    transform: scale(1.05, 1.05);
}