.snapshot-search {
    margin: 1rem;
    display: flex;
}

.snapshot-search input {
    width: 18rem;
    height: 2.5rem;
    margin: 2% 3%;
}

.search-btn {
    border: none;
    height: 2.5rem;
    width: 3rem;
    margin: 2% 0;
    background-color: #0A2647;
    color: #ffffff;
    font-size: large;
    font-weight: bold;
}
 
 .search-btn:hover {
    opacity: 0.9;
 }
 